config.php
data/kp.db
data/kp.db-wal
data/kp.db-shm
data/kp/
data/tmp/
storage/signatures/*
!storage/signatures/.gitkeep
storage/attachments/*
!storage/attachments/.gitkeep
storage/invoices/*
!storage/invoices/.gitkeep
storage/product_images/*
!storage/product_images/.gitkeep
.DS_Store
